__pycache__
.vscode
.buildozer
.buildozer/state.db
.buildozer/android/platform/build-arm64-v8a/build/bootstrap_builds/sdl2/.gitignore
.buildozer/android/platform/build-arm64-v8a/build/bootstrap_builds/sdl2/ant.properties
.buildozer/android/platform/build-arm64-v8a/build/bootstrap_builds/sdl2/blacklist.txt
.buildozer/android/platform/build-arm64-v8a/build/bootstrap_builds/sdl2/build.py
.buildozer/android/platform/build-arm64-v8a/build/bootstrap_builds/sdl2/gradlew
.buildozer/android/platform/build-arm64-v8a/build/bootstrap_builds/sdl2/gradlew.bat
.buildozer/android/platform/build-arm64-v8a/build/bootstrap_builds/sdl2/project.properties
.buildozer/android/platform/build-arm64-v8a/build/bootstrap_builds/sdl2/whitelist.txt
.buildozer/android/platform/build-arm64-v8a/build/bootstrap_builds/sdl2/gradle/wrapper/gradle-wrapper.jar
.buildozer/android/platform/build-arm64-v8a/build/bootstrap_builds/sdl2/gradle/wrapper/gradle-wrapper.properties
.buildozer/android/platform/build-arm64-v8a/build/bootstrap_builds/sdl2/jni/Android.mk
.buildozer/android/platform/build-arm64-v8a/build/bootstrap_builds/sdl2/jni/Application.mk
.buildozer/android/platform/build-arm64-v8a/build/bootstrap_builds/sdl2/jni/application/Android.mk
.buildozer/android/platform/build-arm64-v8a/build/bootstrap_builds/sdl2/jni/application/src/Android_static.mk
.buildozer/android/platform/build-arm64-v8a/build/bootstrap_builds/sdl2/jni/application/src/Android.mk
.buildozer/android/platform/build-arm64-v8a/build/bootstrap_builds/sdl2/jni/application/src/bootstrap_name.h
.buildozer/android/platform/build-arm64-v8a/build/bootstrap_builds/sdl2/jni/application/src/start.c
.buildozer/android/platform/build-arm64-v8a/build/bootstrap_builds/sdl2/src/main/assets/.gitkeep
.buildozer/android/platform/build-arm64-v8a/build/bootstrap_builds/sdl2/src/main/java/.gitkeep
.buildozer/android/platform/build-arm64-v8a/build/bootstrap_builds/sdl2/src/main/java/org/kamranzafar/jtar/Octal.java
.buildozer/android/platform/build-arm64-v8a/build/bootstrap_builds/sdl2/src/main/java/org/kamranzafar/jtar/TarConstants.java
.buildozer/android/platform/build-arm64-v8a/build/bootstrap_builds/sdl2/src/main/java/org/kamranzafar/jtar/TarEntry.java
.buildozer/android/platform/build-arm64-v8a/build/bootstrap_builds/sdl2/src/main/java/org/kamranzafar/jtar/TarHeader.java
.buildozer/android/platform/build-arm64-v8a/build/bootstrap_builds/sdl2/src/main/java/org/kamranzafar/jtar/TarInputStream.java
.buildozer/android/platform/build-arm64-v8a/build/bootstrap_builds/sdl2/src/main/java/org/kamranzafar/jtar/TarOutputStream.java
.buildozer/android/platform/build-arm64-v8a/build/bootstrap_builds/sdl2/src/main/java/org/kamranzafar/jtar/TarUtils.java
.buildozer/android/platform/build-arm64-v8a/build/bootstrap_builds/sdl2/src/main/java/org/kivy/android/GenericBroadcastReceiver.java
.buildozer/android/platform/build-arm64-v8a/build/bootstrap_builds/sdl2/src/main/java/org/kivy/android/GenericBroadcastReceiverCallback.java
.buildozer/android/platform/build-arm64-v8a/build/bootstrap_builds/sdl2/src/main/java/org/kivy/android/PythonActivity.java
.buildozer/android/platform/build-arm64-v8a/build/bootstrap_builds/sdl2/src/main/java/org/kivy/android/PythonActivityUtil.java
.buildozer/android/platform/build-arm64-v8a/build/bootstrap_builds/sdl2/src/main/java/org/kivy/android/PythonService.java
.buildozer/android/platform/build-arm64-v8a/build/bootstrap_builds/sdl2/src/main/java/org/kivy/android/PythonUtil.java
.buildozer/android/platform/build-arm64-v8a/build/bootstrap_builds/sdl2/src/main/java/org/kivy/android/launcher/Project.java
.buildozer/android/platform/build-arm64-v8a/build/bootstrap_builds/sdl2/src/main/java/org/kivy/android/launcher/ProjectAdapter.java
.buildozer/android/platform/build-arm64-v8a/build/bootstrap_builds/sdl2/src/main/java/org/kivy/android/launcher/ProjectChooser.java
.buildozer/android/platform/build-arm64-v8a/build/bootstrap_builds/sdl2/src/main/java/org/renpy/android/AssetExtract.java
.buildozer/android/platform/build-arm64-v8a/build/bootstrap_builds/sdl2/src/main/java/org/renpy/android/Hardware.java
.buildozer/android/platform/build-arm64-v8a/build/bootstrap_builds/sdl2/src/main/java/org/renpy/android/ResourceManager.java
.buildozer/android/platform/build-arm64-v8a/build/bootstrap_builds/sdl2/src/main/jniLibs/.gitkeep
.buildozer/android/platform/build-arm64-v8a/build/bootstrap_builds/sdl2/src/main/libs/.gitkeep
.buildozer/android/platform/build-arm64-v8a/build/bootstrap_builds/sdl2/src/main/res/drawable/.gitkeep
.buildozer/android/platform/build-arm64-v8a/build/bootstrap_builds/sdl2/src/main/res/drawable-hdpi/ic_launcher.png
.buildozer/android/platform/build-arm64-v8a/build/bootstrap_builds/sdl2/src/main/res/drawable-mdpi/ic_launcher.png
.buildozer/android/platform/build-arm64-v8a/build/bootstrap_builds/sdl2/src/main/res/drawable-xhdpi/ic_launcher.png
.buildozer/android/platform/build-arm64-v8a/build/bootstrap_builds/sdl2/src/main/res/drawable-xxhdpi/ic_launcher.png
.buildozer/android/platform/build-arm64-v8a/build/bootstrap_builds/sdl2/src/main/res/layout/chooser_item.xml
.buildozer/android/platform/build-arm64-v8a/build/bootstrap_builds/sdl2/src/main/res/layout/main.xml
.buildozer/android/platform/build-arm64-v8a/build/bootstrap_builds/sdl2/src/main/res/layout/project_chooser.xml
.buildozer/android/platform/build-arm64-v8a/build/bootstrap_builds/sdl2/src/main/res/layout/project_empty.xml
.buildozer/android/platform/build-arm64-v8a/build/bootstrap_builds/sdl2/src/patches/SDLActivity.java.patch
.buildozer/android/platform/build-arm64-v8a/build/bootstrap_builds/sdl2/templates/AndroidManifest.tmpl.xml
.buildozer/android/platform/build-arm64-v8a/build/bootstrap_builds/sdl2/templates/build.properties
.buildozer/android/platform/build-arm64-v8a/build/bootstrap_builds/sdl2/templates/build.tmpl.gradle
.buildozer/android/platform/build-arm64-v8a/build/bootstrap_builds/sdl2/templates/build.tmpl.xml
.buildozer/android/platform/build-arm64-v8a/build/bootstrap_builds/sdl2/templates/custom_rules.tmpl.xml
.buildozer/android/platform/build-arm64-v8a/build/bootstrap_builds/sdl2/templates/kivy-icon.png
.buildozer/android/platform/build-arm64-v8a/build/bootstrap_builds/sdl2/templates/kivy-presplash.jpg
.buildozer/android/platform/build-arm64-v8a/build/bootstrap_builds/sdl2/templates/Service.tmpl.java
.buildozer/android/platform/build-arm64-v8a/build/bootstrap_builds/sdl2/templates/strings.tmpl.xml
.buildozer/android/platform/build-arm64-v8a/packages/Pillow/.mark-7.0.0.tar.gz
.buildozer/android/platform/build-arm64-v8a/packages/Pillow/7.0.0.tar.gz
.buildozer/android/platform/build-arm64-v8a/packages/cython/.mark-0.29.15.tar.gz
.buildozer/android/platform/build-arm64-v8a/packages/cython/0.29.15.tar.gz
.buildozer/android/platform/build-arm64-v8a/packages/freetype/.mark-freetype-2.10.1.tar.gz
.buildozer/android/platform/build-arm64-v8a/packages/freetype/freetype-2.10.1.tar.gz
.buildozer/android/platform/build-arm64-v8a/packages/hostpython3/.mark-Python-3.8.1.tgz
.buildozer/android/platform/build-arm64-v8a/packages/hostpython3/Python-3.8.1.tgz
.buildozer/android/platform/build-arm64-v8a/packages/jpeg/.mark-2.0.1.tar.gz
.buildozer/android/platform/build-arm64-v8a/packages/jpeg/2.0.1.tar.gz
.buildozer/android/platform/build-arm64-v8a/packages/libffi/.mark-8fa8837.tar.gz
.buildozer/android/platform/build-arm64-v8a/packages/libffi/8fa8837.tar.gz
.buildozer/android/platform/build-arm64-v8a/packages/numpy/.mark-numpy-1.18.1.zip
.buildozer/android/platform/build-arm64-v8a/packages/numpy/numpy-1.18.1.zip
.buildozer/android/platform/build-arm64-v8a/packages/openssl/.mark-openssl-1.1.1f.tar.gz
.buildozer/android/platform/build-arm64-v8a/packages/openssl/openssl-1.1.1f.tar.gz
.buildozer/android/platform/build-arm64-v8a/packages/png/.mark-v1.6.37.zip
.buildozer/android/platform/build-arm64-v8a/packages/png/v1.6.37.zip
.buildozer/android/platform/build-arm64-v8a/packages/python3/.mark-Python-3.8.1.tgz
.buildozer/android/platform/build-arm64-v8a/packages/python3/Python-3.8.1.tgz
.buildozer/android/platform/build-arm64-v8a/packages/sdl2/.mark-SDL2-2.0.9.tar.gz
.buildozer/android/platform/build-arm64-v8a/packages/sdl2/SDL2-2.0.9.tar.gz
.buildozer/android/platform/build-arm64-v8a/packages/sdl2_image/.mark-SDL2_image-2.0.4.tar.gz
.buildozer/android/platform/build-arm64-v8a/packages/sdl2_image/SDL2_image-2.0.4.tar.gz
.buildozer/android/platform/build-arm64-v8a/packages/sdl2_mixer/.mark-SDL2_mixer-2.0.4.tar.gz
.buildozer/android/platform/build-arm64-v8a/packages/sdl2_mixer/SDL2_mixer-2.0.4.tar.gz
.buildozer/android/platform/build-arm64-v8a/packages/sdl2_ttf/.mark-SDL2_ttf-2.0.14.tar.gz
.buildozer/android/platform/build-arm64-v8a/packages/sdl2_ttf/SDL2_ttf-2.0.14.tar.gz
.buildozer/android/platform/build-arm64-v8a/packages/setuptools/.mark-setuptools-40.9.0.zip
.buildozer/android/platform/build-arm64-v8a/packages/setuptools/setuptools-40.9.0.zip
.buildozer/android/platform/build-arm64-v8a/packages/six/.mark-six-1.10.0.tar.gz
.buildozer/android/platform/build-arm64-v8a/packages/six/six-1.10.0.tar.gz
.buildozer/android/platform/build-arm64-v8a/packages/sqlite3/.mark-sqlite-amalgamation-3150100.zip
.buildozer/android/platform/build-arm64-v8a/packages/sqlite3/sqlite-amalgamation-3150100.zip
bin/myapp-0.1-arm64-v8a-debug.apk
